// General Styles
html {
  font-size: 62.5%;
  z-index: 1;
  position: relative;

  // NOTE find better texture background
  &::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../assets/paper-146904_1280.png);
  opacity: 0.1;
  z-index: -1;
  }
}

body {
  background: $white-background;
  color: $black-text;
  font-family: $body-font;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border: 10px solid $white;
}

h2,
h3,
legend {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: $header-font;
  color: $header-text;
}

footer {
  font-size: 1.2rem;
  padding: 30px;
}

.wrapper {
  max-width: 980px;
  width: 85%;
  margin: 0 auto;
}


.flex,
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// style for decorative bars
.bars {
  width: 100%;
  height: 5px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}