.nav-bar {
  background: $red;
  margin-top: 60px;
  height: 60px;
  position: relative;
  border-bottom: 4px solid rgba(94, 94, 94, 0.5);

  // logo styles
  .nav-bar__logo {
    display: inline-block;
    font-size: 4rem;
    font-family: $header-font;
    width: 130px;
    height: 130px;
    background: url(../../../assets/layer-logo.png) $red-logo;
    position: absolute;
    top: -50%;
    border-radius: 50%;
    border: 6px solid $red-accent;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // top: 15px;
      // left: 6px;
      color: $white;
      text-shadow: 2px 2px 2px $red-accent;
      text-transform: uppercase;
    }

    // .nav-bar__logo-subtext {
    //   font-size: 2rem;
    //   font-family: $header-font;
    // }
  }

  .nav-bar__logo:before {
  content: " ";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 6px solid $white-background;
  border-radius: 50%;
}
  // list styles
  .nav-bar__list-container {
    list-style: none;
    justify-content: flex-end;

    li a {
      text-decoration: none;
      text-shadow: 2px 2px $red-accent;
      text-transform: uppercase;
      font-size: 2.4rem;
      font-family: $header-font;
      color: $white-text;
      padding: 15px;
    }

    li:nth-of-type(n+2) {
      margin-left: 50px;
    } 

    li:first-child {
      background: $red-accent;
      border-radius: 5px;
      margin-left: 0;
      box-shadow: 1px 1px rgba(165, 164, 164, 0.5);
      padding: 7px 10px;
    }
  }
}

header {
  h1 {
    // change back to 9rem after font installed
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
    color: $header-text;
    text-shadow: 2px 2px $text-shadow;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  p {
    text-align: center;
    font-size: 2.2rem;
    width: 70%;
    margin: 0 auto;
  }

  img {
    box-shadow: 4px 4px #E2E2E1;
    margin: 40px 0px;
  }

}


/* hide the checkbox */
.hamburger input[type='checkbox'],
.hamburger label {
	display: none;
}

	// burger menu
	#burger-menu,
	.drop-menu label {
		float: right;
	}



