// portfolio/gallery section styles
.portfolio {
  .wrapper {
    position: relative;
  }

  h2 {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
    text-shadow: 1px 1px $white-background, 3px 3px $text-shadow;
  }

    .portfolio__btn-container {
    text-align: end;
    margin-bottom: 150px;

    .bars {
      margin-top: 80px;
    }
    
    a {
      background: $red;
      box-shadow: 4px 4px rgba(189, 59, 19, 0.2);
      font-size: 2.4rem;
      font-family: $header-font;
      padding: 15px 40px;
      text-decoration: none;
      color: $white-text;
      text-transform: uppercase;
      text-shadow: 2px 2px rgba(189, 59, 19, 0.2);

      &:hover,
      &:focus,
      &:active {
        background: $red-accent;
      }
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .gallery__item {
    width: 300px;
    height: auto;
    margin-left: 30px;

    a:hover img,
    a:active img,
    a:focus img {
      opacity: 1;
    }
    
    img {
      outline: 1px solid $grey;
      width: 297px;
      height: 183px;
      position: relative;
      opacity: 0.5;
    }

    // only when 3 images side by side 
    &:nth-child(3n+1) {
      margin-left: 0; 
    }

    .gallery__description {
      font-size: 1.4rem;
      margin-top: 15px;
      margin-bottom: 45px;
      line-height: 2rem;

      a {
        color: $black-text;
        font-weight: bold;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: $red;
          text-shadow: 1px 1px $white-text;
        }

        &:focus {
          outline: 1px solid $red-accent;
        }
      }
    }
  }
}