// Colours
$red: #BD3B13;
$red-accent: #842002;
$red-logo: #AC300A;
$white-background: #F0EFE9;
$white-text: #FFFFFF;
$white: #FCFBF6;
$white-input: #FEFEFD;
$black-background: #3E3E37;
$black-text: #333333;
$text-shadow: #CDCDCD;
$header-text: #4A4A43;
$grey: #CECEC7;

// fonts
$header-font: 'Oswald', sans-serif;
$body-font: 'Merriweather', serif;

