@import './partials/setup';
@import './partials/variables';
@import './partials/header';

html {
  font-size: 62.5%;
}

body {
  background-color: $white-background;
  color: $black-text;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: 10px solid $white;
  box-shadow: 4px 4px #E2E2E1;
}

.wrapper {
  max-width: 960px;
  width: 85%;
  margin: 0 auto;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}